<head>
    <link rel="stylesheet" href="/styles/css/layout/Footer.css">
</head>

<div class="footer-content">
    <div class="footer-top">
        <ul>
            <li class="label">
                <span>Krypto</span>
            </li>
            <li class="description">
                <span> Massa blandit semper varius faucibus. Suspendisse  Pellentesque sit id tempor turpis. viverra venenatis placerat nam ut. semper varius faucibus Pellentesque sit id tempor turpis. </span>
            </li>
        </ul>
        <ul>
            <li class="label">
                <span>Links</span>
            </li>
            <li>
                <span>How it works</span>
            </li>
            <li>
                <span>Cryptos</span>
            </li>
            <li>
                <span>Features</span>
            </li>
            <li>
                <span>Testimonial</span>
            </li>
            <li>
                <span>Blogs</span>
            </li>
        </ul>
        <ul>
            <li class="label">
                <span>Legal</span>
            </li>
            <li>
                <span>Terms of use </span>
            </li>
            <li>
                <span>Terms of conditions </span>
            </li>
            <li>
                <span>Privecy policy </span>
            </li>
            <li>
                <span>Cookie policy </span>
            </li>
        </ul>
        <ul>
            <li class="label">
                <span>NEWSLETTER</span>
            </li>
            <li>
                <h2>Over 25000 people have subscribed</h2>
            </li>
            <li>
                <div class="subscribe">
                    <input placeholder="Subscribe" type="text">
                    <button>SUBSCRIBE</button>
                </div>
            </li>
            <li>
                <p>
                    We don’t sell your email and spam
                </p>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <span>Privacy & Terms  Contact Us</span>
        <span>Copyright @ 2022 xpence</span>
        <div class="socials">
            <img src="/assets/images/socials/youtube.svg" alt="">
            <img src="/assets/images/socials/linkedin.svg" alt="">
            <img src="/assets/images/socials/facebook.svg" alt="">
            <img src="/assets/images/socials/crypto.svg" alt="">
        </div>
    </div>
</div>